html {
scrollbar-face-color: #815FA1; 
scrollbar-highlight-color: #CCCCCC; 
scrollbar-shadow-color: #666688; 
scrollbar-3dlight-color: #666688; 
scrollbar-arrow-color: #CCCCCC; 
scrollbar-track-color: #381E40; 
scrollbar-darkshadow-color: #333355;
}

body {font-family: Tahoma;	color: #FFFFFF;	background: transparent; background-image: url(imagens/pc_bg.png); margin: 0;	padding: 0;	font-size: 10px;}
hr {color:#366AA7; height:1px;}

a {color:  #D9D9D9; text-decoration: none; font-weight: bold; background-color: transparent;}
a:hover {color: #FFFFFF;}


h1 {}
h2 {}
h3 {}
h4 {}
h5 {}


ul {
	margin: 0px;
	padding: 0px;
	list-style: square inside;
	text-align: left;
	color: #333333;
	line-height: 18px;
}
li {font-family: Tahoma;
	list-style: square url(imagens/list.png) inside;
	color: #805FA1;
}
li a{font-family: Tahoma;
	list-style: square url(imagens/list.png) inside;
	font-size: 9px;
}


textarea, select, input  {

	font-family: Tahoma;
	background-color:#805DA0;
	color: #FFFFFF;
	font-size: 9px;
	border-top: 1px solid #000000;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #FFFFFF;
	margin-top: 1px;
}



table {
	width: 100%;
	
}
TR, TD {
	font-family: Tahoma, Tahoma, Arial;
	font-size: 9px;
	color: #DFE5EA;
	padding: 0px; vertical-align: top;
}

.head_top {
    width: 780px;
	text-align: right;
	vertical-align:middle;
	background-color: #83818F;
	background-image: url(imagens/headbg2.png); 
	height: 15px; 
	padding-bottom: 3px;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #999999;
	vertical-align:top;
	}
	
.head_top a { color: #FFFFFF;}
.head_top a:hover { color: #000000;}

.head_buttons{
	background-color: #CCCCCC;
	width: 780px;
	height: 14px;
	vertical-align:top;
	text-align: center;
	background-repeat: repeat-x;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #999999;
}
.buttons_menu {
	text-align: left; background-color: #000000;background-image: url(imagens/headbg.png); height: 14px; vertical-align:top;
	}
.buttons_menu a {color:  #B0B0B0;font-size: 10px;}
.buttons_menu a:hover {color:  #FFCC66;font-size: 10px;}

td#buttons_boven  {
 height: 30 px;
 width: 80px;
 text-align: center;
 background-image: url(imagens/buttons_boven.png);
   border-top: 1px solid #FFFFFF;
	border-right: 1px solid #000000;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #000000;}

td#buttons_boven a {
 font-weight: normal;
 color: #252048;
 padding-top: 4px;
 display: block;
 height: 16px;
 width: 80px;
 text-align: center;
 background-image: url(imagens/buttons_boven.png);}
 
 td#buttons_boven a:hover{
 color:#FFFFFF;
 background-image: url(imagens/buttons_boven_over.png);}

.head_table{
	background-color: #222222;
	width: 780px;
	height: 96px;
	text-align: center;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	
}
.body_table{
	background-color: #262324;
	width: 780px;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #999999;
	
}

}
.head_menu {
	background-color: #222222; height: 17px; vertical-align: middle;
}

.head_banner {
	text-align: right;
}


td#leftcolumn {width: 125px; font-size:9px; background-color: #381E40;
    border-top: 1px solid #000000;
	border-right: 1px solid #999999;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #999999;
}
td#leftcolumn th {	background-color:transparent;
	vertical-align: middle;
	color: #E5E5E5;
	}
td#leftcolumn div.blockTitle {
	
	width: 125px;
	height: 22px;
	color: #FFFFFF;
	text-align:center;
	padding-top: 8px;
	font-weight: bold;
	font-size: 9px;
	background-color: transparent;
	background-image: url(imagens/all_ln_los.png);
	background-repeat: repeat-x;
	filter:Glow(Color=#000000, strength=4);
}
td#leftcolumn div.blockContent {
	background: transparent;
}


td#centercolumn {
	font-size: 9px;
	line-height: 17px;
	padding: 0px 0px 0px; 
}
td#centercolumn a {color:  #366CA8; text-decoration: none; font-weight: bold; background-color: transparent;}
td#centercolumn a:hover {color: #FFFFFF;}

td#centercolumn th {
	background-color:transparent;
	vertical-align: middle;
	padding: 5px;
	color: #E5E5E5;
	background-image: url(imagens/sub_title.png);
	background-repeat: repeat-x;
}
td#centerCcolumn {padding: 0px 3px 1px 3px;}
td#centerCcolumn div.blockTitle {
	
	color:  #FFFFFF;
	font-weight: bold;
	text-align: left;
	font-size: 9px;
	padding: 0px 3px;
	background-color: transparent;
	height: 17px;
}
td#centerCcolumn div.blockContent {
	padding: 4px;
	line-height: 120%;
}

td#centerLcolumn {width: 50%; padding: 0px 3px 0px 5px;}
td#centerLcolumn div.blockTitle {	
	padding:0px 3px;
	color:  #000000;
	height:17 px;
	text-align: left;
	font-weight: bold;
	font-size: 9px;
	background-image: url(imagens/itemtitle.png);
	background-repeat: repeat-x;
	border-top: 1px solid #000000;
	border-right: 1px solid #999999;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #999999;
	background-color: transparent;
}
td#centerLcolumn div.blockContent {		padding: 4px;
	line-height: 120%;
	border-top: 1px solid #000000;
	border-right: 1px solid #999999;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #999999;
	background: #222222;}


td#centerRcolumn {width: 50%; padding: 0px 3px 0px 3px;}
td#centerRcolumn div.blockTitle {		padding:6px 2px 2px;
	padding:0px 3px;
	color:  #000000;
	height:17 px;
	text-align: left;
	font-weight: bold;
	font-size: 9px;
	background-image: url(imagens/itemtitle.png);
	background-repeat: repeat-x;
	border-top: 1px solid #000000;
	border-right: 1px solid #999999;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #999999;
	background-color: transparent;} 
	
td#centerRcolumn div.blockContent {		padding: 4px;
	line-height: 120%;
	border-top: 1px solid #000000;
	border-right: 1px solid #999999;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #999999;
	background: #222222;}


div#content {text-align: left;  padding: 8px 3px 8px 3px;  }


td#rightcolumn {width:170px; font-size:9px; text-align:center;
}
td#rightcolumn th {	background-color:transparent;
	vertical-align: middle;
	padding: 0px;
	color: #E5E5E5;
	background-repeat: repeat-x;}
td#rightcolumn div.blockTitle {
		text-align:center;
	width: 170px;
	height:22px;
	padding-top: 8px; 
	color:  #FFFFFF;
	font-weight: bold;
	font-size: 9px;
	background-image: url(imagens/bar_all.png);
	background-repeat: repeat-x;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #999999;
	
	
}
td#rightcolumn div.blockContent {
	line-height: 17px;
	border-top: 1px solid #000000;
	border-right: 1px solid #999999;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background: #333333;
}

td#footerbar { color: #E5E5E5; height: 30px; vertical-align: middle; text-align: center;  font-weight: normal;  font-size: 9px;   }


td#mainmenu a {background-color: #381E40 ; color:#D9D9D9;}
td#mainmenu a:hover { background-color: #815FA1; color : #FFFFFF;}
td#mainmenu a.menuTop {
    padding-left: 10px;
	padding-top: 4px;
    height: 13px;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;} 
						
td#mainmenu a.menuMain {
    padding-left: 10px;
	padding-top: 4px;
    height: 13px;
						border-top: 1px solid #DEDEDE;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;}
						
td#mainmenu a.menuSub {
                       padding-left: 20px;
	                   padding-top: 4px;
                       height: 13px;
                       color:#805FA1;
					   border-top: 1px solid #DEDEDE;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

td#usermenu a {color:#D9D9D9; 
               padding-left: 20px;
	                   padding-top: 4px;
                       height: 13px;
               background-color: #381E40 ;
			   		   border-top: 1px solid #DEDEDE;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
		       
}


td#usermenu a:hover {background-color: #815FA1; color : #FFFFFF;}
td#usermenu a.menuTop {}
td#usermenu a.highlight {}

.reviews {
padding-left: 10px;
padding-right: 10px;
padding-bottom: 20px;
 background-color:  #FFFFFF;
 background-image: url(imagens/rev_bg.png) ;
 color: #3D3762;
	border-top: 1px solid #000000;
	border-right: 1px solid #999999;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #999999;
	font-size: 11px;
}

.reviews a {color:#366AA7;}
.reviews a:hover {color:#000000;}

.outer { background-color: #222222; 
background-image: url(imagens/outer.png) ;
 border-top: 1px solid #000000;
	border-right: 1px solid #999999;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #999999; ;}
.head {
	background-color: #333333;
	height:17px ;
	color: #E5E5E5;
}
.even {background-color:#393939; padding: 5px;}
.odd {background-color: #525252; padding: 5px;}
.foot {background-color: #222222; padding-top: 5px;  padding-right: 5px;  padding-left: 5px;  padding-bottom: 5px;   color: #E5E5E5 ; text-align: center; }
tr.even td {background-color: #393939; padding: 5px;}
tr.odd td {background-color: #525252; padding: 5px;}


div.errorMsg { background-color: #000000; text-align: center; border-top: 1px solid #FFFFFF; border-left: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; font-weight: bold; padding: 9px;  color: White; }
div.confirmMsg { background-color: #525252; color: #FFFFFF; text-align: center; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; font-weight: bold; padding: 9px;}
div.resultMsg { background-color : #000000; color: #D1DBEC; text-align: center; border-top: 1px solid #FFFFFF; border-left: 1px solid #FFFFFF; font-weight: bold; border-right: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; padding: 9px;}


div.xoopsCode {
	background-color: #E9E9E9;
	border: 1px solid #000000;
	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	padding: 6px 6px 6px 6px;
	color: #222222;
	margin: 20px;
}
div.xoopsQuote {
	background: #222222;
	border: 1px solid #000000;
	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	padding: 6px 6px 6px 6px;
	color: #FF6600;
}


.item {
color: #000000;
font-size: 11px;
 background-color:  #D4C8DF;
	border-top: 1px solid #000000;
	border-right: 1px solid #999999;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #999999;
	padding: 1px;
}

.item a {color: #381E40;}
.item a:hover {color: #FFFFFF;}

.itemHead {
	height: 17px; background-image: url(imagens/itemtitle.png) ;
	background-color: #666666; color: white; 
	padding: 0px 3px;
	font-weight: bold;
	font-size: 10 px; 
	background-repeat: repeat-x;
	border-bottom: 1px solid #999999;
}
.itemInfo {
	color: #3F4E6E; text-align: right;
	padding: 5px 5px 5px 5px;
	background-color: transparent;
	
}
.itemInfo a {color:#000000;}
.itemInfo a:hover {color:#366CA8;}


.itemTitle {color: #FFFFFF;} 

.itemTitle a {
	color: #000000;
	font-weight: bold; font-size: 9px;
}

.itemTitle a:hover{
	color: #FFFFFF;
}

.reviewPoster {
padding-left: 10px;
color: #000000;
    background-color: #999999;
                border-top: 1px solid #000000;
	border-right: 1px solid #999999;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #999999; }
.itemPoster {}
.itemPostDate {}
.itemStats {}
.itemBody {padding-left: 5px;  font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;}
.itemText {  line-height: 1.6em;  font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif; }
.itemText:first-letter {}
.itemFoot {
    background-image: url(imagens/itemtitle.png) ;
	height:17px; 
	text-align: right;
	color: #999999;
	border-top: 1px solid #000000;
	 background-color: #666666;
}

.itemFoot {color: #666666;}
.itemFoot a {color: #FFFFFF;}
.itemFoot a:hover {color: #000000;}
.itemAdminLink {}
.itemPermaLink {}


.comTitle {font-weight: bold; margin-bottom: 3px; color: #FFFFFF; }
.comText {padding: 3px;}
.comUserStat {font-size: 9px; color: #222222; font-weight:bold; border: 1px solid #000000;  background-color: #E9E9E9; margin: 3px; padding: 3px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 3px; margin-top: 9px; color: #FFFFFF; font-weight:bold; font-size: 9px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 9px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: 9px;}
.comDateCaption {font-weight: bold; font-style: normal;}


